.cartPanel {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100%;
  background: #0f1b2d;
  color: white;
  padding: 20px;
  transition: 0.3s;
  z-index: 999;
}

.cartPanel.open {
  right: 0;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cartItem {
  background: #1c2b3f;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
