* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background: #F2DFD8;
  overflow-x: hidden;
}

/* ГЛАВНЫЙ ЖИВОЙ ФОН */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background:
    radial-gradient(circle at 20% 30%, #DDB48E 0%, transparent 40%),
    radial-gradient(circle at 80% 20%, #8A573F 0%, transparent 40%),
    radial-gradient(circle at 30% 80%, #4C2E28 0%, transparent 40%),
    radial-gradient(circle at 70% 70%, #C07D41 0%, transparent 50%);

  filter: blur(80px);
  animation: moveBg 7s ease-in-out infinite alternate;
}
@keyframes moveBg {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-80px, 60px) scale(1.5);
  }
  100% {
    transform: translate(40px, -30px) scale(1);
  }
}
